# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3
documentos.db

# Environment
.env
venv/
env/

# Flask stuff
instance/
*.log

# IDEs
.vscode/
.idea/

# macOS e Windows
.DS_Store
Thumbs.db
